<template>
  <div class="todo-app">
    <h1> {{ title }} </h1>
    <form action="#" class="form todo-form">
		<input type="text" id="itemForm">
		<button class="button" v-on:click="addItem">Add Task</button>
    </form>
    	<ul class="app-list-holder">
    		<li class="app-list-item" v-for="item in items" :class="{ done: item.done }">{{item.text}}
    			<input type="checkbox" v-model="item.done">
    			<span v-on:click="deleteItem(item)">X</span>
    		</li>
    	</ul>
    	
    	
  </div>
</template>

<script>
	function todosArray(key){
	  if(localStorage.getItem(key)){
	    return JSON.parse(localStorage.getItem(key));
	  }
	  return [];
	}
	function saveTodos(key, value){
	  localStorage.setItem(key, JSON.stringify(value));
	}
	export default {
		data() {
			return {
				title: "TODO test App",
				newItem:'',
				items: todosArray('items')
			}
		},
		ready: function(){
		    this.$watch("items", function(value){
		      saveTodos("items", value);
		    });
		  },
		methods: {
			addItem: function () {
				var input = document.getElementById('itemForm');
				if (input.value !=='') {
					this.items.push({
						text:input.value,
						done: false,
					})
					input.value = "";
				}
			
			},
			deleteItem: function(item) {
				this.items.splice(item, 1);
			},
			
		},
		watch: {
		  items: {
		    handler() {
		      localStorage.setItem('items', JSON.stringify(this.items));
		    },
		    deep: true,
		  },
		},
	}

</script>

<style scoped>
.todo-form {
	margin-bottom: 15px;
}
#itemForm {
	margin-bottom: 10px;
}
.app-list-holder {
	max-width: 500px;
	margin: 0 auto;
	display: flex;
	flex-direction: column;
	list-style: none;
	padding: 0;
}
.app-list-item {
	position: relative;
	padding: 10px;
	border: 1px solid;
	margin-bottom: 10px;
	cursor: default;
}
span {
	position:absolute;
	right: 0;
	font-size: 30px;
	line-height: 1;
	top: 0;
	cursor: pointer;
}
.done { text-decoration: line-through; }
</style>
