<template>
  <div id="todo-app">
    <router-view/>
  </div>
</template>
 <script>

export default {
  name: 'TodoApp'
}
</script>
<style>
#todo-app {
  font-family: 'Avenir', Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  margin-top: 60px;
  padding: 0 15px;
}
</style>
